* {
 background-color: black;   
}
@font-face {
    font-family: 'schneeregular';
    src: url('./assets/schnee-webfont.woff') format('woff2'),
         url('./assets/schnee-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

.p {
  background-color: transparent;   
  font-size: 24px;  
  font-family: 'schneeregular';
  color: white;
  width: 300px;
  padding: 25px;
  margin: 10px;
  position: relative;
  z-index: 2;
}

.logo {
  
    background-color: transparent;   

  
}
